<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

       <script>
        {{#if products}}
            $(function() {
                $( "#dialog-1" ).dialog({
                    autoOpen: true,
                });        
            });
        {{/if}}
      </script>
    <title>Shopping</title>
</head>
<script>
    function confirmBuy(productName){
        const userAgree = confirm('Are your sure to buy ' + productName+'?')
        return userAgree
    }
</script>
<body>
    <h1>Select your products</h1>
    <a href="/viewCart">View Cart</a>
    <form action="/buy" method="post" onsubmit="return confirmBuy('milk')">
        {{!-- <img src="milk.jpg" width="40" height="50" />
        <input type="submit" name="product" value="Milk" /> --}}
        <input type="hidden" name="product" value="Milk">
        <input id="submitMilk" type="image"  src="milk.jpg" alt="Submit" width="48" height="48">
    </form>
    <br>
    <form action="/buy" method="post" onsubmit="return confirmBuy('coffee')">
        <input type="hidden" name="product" value="Coffee">
        <input id="submitCoffee" type="image" src="coffee.jpg" alt="Submit" width="48" height="48">
    </form>
 {{#if products}}   
<div id = "dialog-1" 
         title = "Ban da Mua"><ul>
        {{#each products}}
            <li>{{tensp}} - {{soLuong}}</li>
        {{/each}}
    </ul>
</div>
{{/if}}

</body>

</html>